<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title>{{detallePlato?.nombre}}</mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="detallePlato?.imagen" style="width:50%" (click)="showPlatoDetails(detallePlato?.id)">
    <mat-card-content fxLayout="row">
        <mat-chip-list *ngFor="let ingrediente of detallePlato.ingredientes">
            <mat-chip>{{ingrediente?.nombre}}</mat-chip>
        </mat-chip-list>
    </mat-card-content>
    <mat-card-actions>
        
    </mat-card-actions>
</mat-card>