<div flexLayout="column" fxLayoutAlign="center none">
    <mat-accordion *ngFor="let plato of platos">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{plato?.nombre}}
            </mat-panel-title>
            <mat-panel-description>
              {{plato?.descripcion}}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>{{plato?.nombre}}</mat-card-title>
              <mat-card-subtitle>{{plato?.descripcion}}</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image [src]="plato?.imagen" (click)="showPlatoDetails()">
            <mat-card-content>
                <mat-chip-list *ngFor="let ingrediente of plato.ingredientes">
                    <mat-chip>{{ingrediente?.nombre}}</mat-chip>
                </mat-chip-list>
            </mat-card-content>
            <mat-card-actions>
              
            </mat-card-actions>
          </mat-card>
        </mat-expansion-panel>
    </mat-accordion>
</div>