<div fxLayoutAlign="center none">
    <mat-accordion *ngFor="let plato of local?.platos">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title fxLayout="row" fxLayoutAlign="start center">
                <div 
                    style="margin-right: 10px"
                    mat-card-avatar 
                    [ngStyle]="{'background-image': 'url(' + plato?.href + ')', 'background-size': 'cover'  }"
                >
                </div>
                <div style="font-weight:bold">
                    {{plato?.nombre}}
                </div>
            </mat-panel-title>
            <mat-panel-description fxLayoutAlign="start center">
              {{plato?.descripcion}}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title>{{plato?.nombre}}</mat-card-title>
              <mat-card-subtitle></mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image [src]="plato?.imagen" (click)="showPlatoDetails(plato?.id)" style="cursor:pointer">
            <mat-card-content fxLayout="row">
                <mat-chip-list *ngFor="let ingrediente of plato.ingredientes">
                    <mat-chip>{{ingrediente?.nombre}}</mat-chip>
                </mat-chip-list>
            </mat-card-content>
            <mat-card-actions>
              
            </mat-card-actions>
          </mat-card>
        </mat-expansion-panel>
    </mat-accordion>
</div>